.container__contact {
  background-color: lighten($primary-color, 60%);
}

.container__contact .container__title {
  background-color: lighten($primary-color, 60%);
}
.contact__link {
  color: lighten($primary-color, 30%);
}
