$primary-color: #5a5d61;
$secondary-color: #fff;
$third-color: #c14d50;
$background-opacity: 0.8;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin easeInOut {
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

@mixin background {
  background: url(../img/01.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba($primary-color, $background-opacity);
  }
}
