.container__nav {
  width: 100%;
  height: 10vh;
  @include easeOut;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: $secondary-color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 3;
  &.show {
    height: 43vh;
  }
  .container__logo {
    display: block;
    padding: 10px 10px 10px 20px;
    .container__letters {
      display: block;
      color: $third-color;
      font-size: 1.8rem;
      font-weight: 900;
      text-transform: lowercase;
    }
  }
}

.container__letters::first-letter {
  color: $primary-color;
}

// HAMBURGER

.container_hamburger {
  padding: 25px 20px 10px 10px;
  @include easeOut;
  .container_hamburger--btn-line-1 {
    width: 10px;
    height: 1px;
    margin: 0 0 4px 0;
    background: $primary-color;
    @include easeOut;
  }
  .container_hamburger--btn-line-2 {
    width: 15px;
    height: 1px;
    margin: 0 0 4px 0;
    background: $primary-color;
    @include easeOut;
  }
  .container_hamburger--btn-line-3 {
    width: 21px;
    height: 1px;
    margin: 0 0 4px 0;
    background: $primary-color;
    @include easeOut;
  }

  // Change menu to hamburger view
  &.close {
    .container_hamburger--btn-line-1,
    .container_hamburger--btn-line-2,
    .container_hamburger--btn-line-3 {
      width: 21px;
      height: 1px;
      margin: 0 0 4px 0;
      background: $third-color;
      @include easeOut;
    }
  }
}

.logo-link:visited {
  color: $third-color;
}

// .menu-mobile-container {
//   width: 100%;
//   height: 40vh;
//   background: $secondary-color;
//   color: $primary-color;
//   visibility: hidden;
//   &.show {
//     visibility: visible;
//     z-index: 2;
//     position: fixed;
//   }
// }

.menu-nav {
  list-style-type: none;
  visibility: hidden;
  z-index: -100000;
  margin: 0;
  padding: 70px 20px 10px 20px;
  &.show {
    visibility: visible;
    display: inline-block;
    z-index: 3;
    position: fixed;
    //transition: all 0.9s ease-out;
  }
  .nav-item {
    line-height: 2rem;

    .nav-link {
      text-decoration: none;
      color: $primary-color;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding: 12px 12px 12px 12px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.current::before {
  content: "";
  position: absolute;
  background: $third-color;
  width: 8px;
  height: 2px;
  margin: 0 auto;
  margin-top: 15px;
}

.nav-link:hover {
  color: #0080ff;
}

.nav-link:visited {
  color: #0080ff;
}
