.menu {
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #c3c3c3;
  grid-area: menu;
  border-bottom: $secondary-color 1px solid;
  width: 100%;
  height: 100px;
  z-index: 0;

  .logo-letters {
    display: block;
    color: #00ffff;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: lowercase;
    left: 0;
    margin-left: 5vw;
    margin-top: 4vh;
    position: absolute;
    z-index: 2;
    .logo-link {
      text-decoration: none;
    }
  }
}

.logo-letters::first-letter {
  color: $primary-color;
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 5vw;
  top: 7vh;
  cursor: pointer;
  @include easeOut;

  .btn-line-1 {
    width: 10px;
    height: 1px;
    margin: 0 0 4px 0;
    background: $primary-color;
    @include easeOut;
  }
  .btn-line-2 {
    width: 15px;
    height: 1px;
    margin: 0 0 4px 0;
    background: $primary-color;
    @include easeOut;
  }
  .btn-line-3 {
    width: 21px;
    height: 1px;
    margin: 0 0 4px 0;
    background: $primary-color;
    @include easeOut;
  }
}

.menu-nav {
  list-style-type: none;
  visibility: hidden;
  .nav-item {
    line-height: 2rem;
    .nav-link {
      text-decoration: none;
      color: #000000;
    }
  }
}

.nav-link:hover {
  color: #0080ff;
}
